* {
    font-family: Helvetica, Arial, sans-serif;
  
  }

  
header {
 
      width: 98.5%;
      position: fixed;
      z-index: 1;
      height: 90px;
      background-color: black;
      border-bottom: 1px solid black;
      align-items: center;
      opacity: 0.5;
      font-size: 22px;
      
  }

  header img {
    height: 60px;
    width: auto;
  }

 .subtext{
   color: black;
   text-align: center;
    font-family: Helvetica;
    font-size: 22px;
    font-style: italic;
    padding-top: 50px;
   /* margin: 50px 0 0px;*/

 }
  
  .flexHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
  
}


.images2 {

  position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
 
}

#panorama{
  position: center;
  width: 100%;
  padding-top: 30;
  transition: transform .4s;
}
#panorama:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5), ; 
  
}


#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#homeButton {
  display: flex;
    justify-content: center;
  height: 80%;
  padding-right: 100px;

}

#fbBtn {
  /* Hidden by default */
  position: fixed;
  top: 8px;
  right: 25px;
  z-index: 99;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 10px;
  height: 25px;
  opacity: 1;
  }

  #igBtn {
    /* Hidden by default */
    position: fixed;
    top: 48px;
    right: 25px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 5px 10px 5px 5px;
    height: 25px;
    opacity: 1;
    }

#titleText {
  display: flex;
    justify-content: center;
  
  
}

   .title {
  position: right;
  
}

.main {
  margin:0 auto;
  max-width:980px;
  width:96%;
  background:#F0F8FF;
  
  /* border: solid 2px #000;*/
     border-radius:6px;
     padding-top: 80px;

}

.grid2x2 {
  min-height: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: center;
  justify-content: center;
  
}
.grid2x2 > div {
  display: flex; 
  flex-basis: auto;  
  justify-content: center;
  flex-direction: column;
  
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.box { margin: 10px; height: 70%;}
/*.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }*/



#pball2 {
  position: center;
  height: 200px;
  transition: transform .4s;
}
#pball2:hover {
  -ms-transform: scale(1.6); /* IE 9 */
  -webkit-transform: scale(1.6); /* Safari 3-8 */
  transform: scale(1.6), ; 
  
}
.images1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 50px 0;
}


#pball {
  position: center;
  height: 250px;
  transition: transform .2s;
}
#pball:hover {
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8); 
}

#blue {
  position: center;
  width: 100%;
}


.images {

  position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  transition: transform .2s;
}

.images:hover {
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8); 
}
/* Bottom right text */
.title-text {
  position: top;
  bottom: 200px;
  font-family: Helvetica;
    font-weight:bold;
    font-size: 30px;
    text-align: center;
    color: #0000e6;
} 

.space{
  position: absolute;
  height: 40px;
}
  h1 {
    display: block;
    color: rgb(242, 240, 234);
    font-family: Komoda;
    font-weight:bold;
    font-size: 35px;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 1px;
  }
  h2{
    display: block;
    color: rgb(242, 240, 234);
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  p {
    
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    color: #0000e6;
    margin: 12px 0 30px;
  }
  
  
  a {
    text-decoration: none;
  }
.normal {font-family: Helvetica;}
  .bold { font-weight: bold; }
.blue { color:blue }
