* {
    font-family: Helvetica, Arial, sans-serif;
    
  }
  

   


header {
      width: 100%;
      position: fixed;
      z-index: 1;
      height: 60px;
      background-color: black;
      border-bottom: 1px solid black;
      align-items: center;
      opacity: 0.5;
      font-size: 22px;
      padding-right: 200px;
  }

  header img {
    height: 60px;
    width: auto;
  }

  
  .flexHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

   .title {
  position: right;
  
}

.main {
  margin:0 auto;
  max-width:980px;
  width:96%;
  background:#fff2c4; 
   border: solid 2px #000;
     border-radius:6px;
     padding-top: 80px;

}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }
/*.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }*/
.images2 {
  display: flex;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 90px;
  

}
#pball2 {
  position: center;
  height: 300px;
  
}
.images1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 90px;
  

}
#pball {
  position: center;
  height: 300px;
  
}

#blue {
  position: center;
  width: 100%;
}


.images {

  position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


/* Bottom right text */
.title-text {
  position: top;
  bottom: 200px;

  font-family: Helvetica;
    font-weight:bold;
    font-size: 30px;
    text-align: center;
    color: #0000e6;
} 


  h1 {
    color: rgb(82, 81, 78);
    font-family: Helvetica;
    font-weight:bold;
    font-size: 25px;
    
  }
  
  
  p {
    
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    color: #0000e6;
    margin-bottom: 60px;
  }
  
  
  a {
    text-decoration: none;
  }
.normal {font-family: Helvetica;}
  .bold { font-weight: bold; }
.blue { color:blue }
